nav
  a.btn.btn-success.btn-menu(href="https://twitter.com/" + underhood.underhood)
    b Subscribe
  a(href="/stats/") Stats
  = "ʥ "
  a(href="/about/") About Project
  = "ʥ "
  a(href="/authoring/") Becoming an Author
  = "ʥ "
  a(href="/rss.xml") RSS
  = "ʥ "
  a(href="https://github.com/#{ underhood.githubUser }/#{ underhood.githubRepo }") GitHub
  = "ʥ "
  a(href="https://google.com/?q=site:#{underhood.site.site_url+search+query}") Search
  = "ʥ "
  a(href="https://github.com/iamstarkov/awesome-collective-twitters") Similar projects
